*.pyc
*.framework
# Created by https://www.gitignore.io/api/swift,xcode,cocoapods

### apple metadata ###
.DS_Store

### Firebase ###
AprilTagDetector/GoogleService-Info.plist
AprilTagDetector/GoogleService-Info_dev.plist

### CocoaPods ###
## CocoaPods GitIgnore Template
Pods/
Podfile.lock

### Swift ###
# Xcode

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

### Xcode ###
# Xcode

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# End of https://www.gitignore.io/api/swift,xcode,cocoapods
